<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wormdataeventprocessfunction11.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d0f2992b-aba7-403e-b0ad-e0e2b9b23239/resourceGroups/azuretraining/providers/Microsoft.Web/sites/WormDataEventProcessFunction11</ResourceId>
    <UserName>$WormDataEventProcessFunction11</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://wormdataeventprocessfunction11.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>